<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Existing User Details</h1>
        <form action=" " method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ datas.NAME }}" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" value="{{ datas.AGE }}" required>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="{{ datas.CITY }}" required>
            </div>
            <button type="submit" class="btn submit-btn" value='Update Details'>Edit Details</button>
            <a href="/" class="btn cancel-btn">Cancel</a>
        </form>
    </div>
</body>
</html>